body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color:bisque;
    padding: 1px 0;
    
}
nav ul{
    display: flex;
    
    
}
nav a{
    text-decoration: none;
    color:black;
    font-weight: 700;
}
nav li{
    list-style: none;
    margin-left: 2%;
}
#top-section{
    display: flex;
}
#second-section{
    display: flex;
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
   
}
#recipies{
    width: 100%;
    
  
}
#subscribe{
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
}

.left-content h1{
font-size: 70px;
color: rgb(119, 117, 117);
}

.left-content{
    width: 45%;
    padding-left: 10%;
    margin-top: 5%;
}
.right-content,.second-left-content{
    width: 40%;
    padding-left:10%;
}
.left-content span {
    color: orange;
   
}
.left-content a{
    text-decoration: none;
    background-image: linear-gradient( orange,tomato);
    padding: 20px 45px;
    border-radius: 30px;
    color: white;
}
.second-right-content{
    width: 45%;
    padding-left: 10%;
    margin-top: 10%;
}
.second-right-content h1{
    font-size: 70px;
color: rgb(119, 117, 117);
}
.second-right-content p{
    font-weight: 700;
    color: black;
}

.second-left-content img{
    width: 60%;
    padding-top: 40px;
}
.second-right-content a{
    text-decoration: none;
    background-image: linear-gradient( orange,tomato);
    padding: 20px 45px;
    border-radius: 30px;
    color: white;
}

#recipies h1{
    text-align: center; 
    font-size: 50px;
   

}
.top-paragraph{
    text-align: center;
    font-size: 30px;

}

.recipies-container{
    display: flex;
    padding-bottom: 50px;
    
}
.recipy{
    width:23% ;
    background-color: rgb(255, 248, 248);
    border-radius: 20px;
    margin-bottom: 50px;
    margin: 0 100px;
    box-shadow: 10px 10px 30px gray;
    
    
}
.recipy .img-div{
    width: 45%;
    
}
.image-div img{
width: 90%;
border-radius: 20px;
padding: 15px 20px;


}
.details{
    width: 80%;
    padding-left:5%;
    padding-bottom: 20px;

}
.subscribe-container{
    width:70% ;
   margin-left: 40%;
   padding-top: 10%;

}
.subscribe-container input{
    width:30% ;
    height: 40px;
    border-style: none;
}
.subscribe-container button{
    border-style: none;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: orange;
    cursor: pointer;
    font-size: 20px;
}
footer{
    height: 300px;
    background-color: black;
}
footer h3{
  text-align: center;
  color: gray;
  
}
footer span{
    color: orange;
    margin-top: 10px;
}

footer p{
    text-align: center;
    color: white;

    
  }
  footer div{
      padding-top: 20px;
  }
